// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	background-color: rgb(100, 123, 193);
}

// index post
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.post-block {
	display: grid;
	grid-template-columns: 15% 35% 15% 25% 15%;
}

.post-title, .post-comments, .post-infos {
	border-bottom-style: solid;
}

.new-post-block {
	display: grid;
	grid-template-columns: 15% 70% 15%;
}
